@charset "UTF-8";


h1{
    color: blue;
    text-align: center;
    font-size: 2em;
}

body{
    background-color: lightblue;
    font-family: cursive;
    font-size: 20px;
}

h2{
    color: darkred;
    font-size: 1,5em;
}

p{
    text-align: justify;
    font-size: 1em;
}